doctype html
html
    head
        title node learning
        link(rel='stylesheet' href='/bower-components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        body
            nav.navbar.navbar-expand-sm.bg-primary.navbar-dark
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/articles/add') Add Article

            .container
                != messages('message', locals)
                if errors
                    each error  in errors
                        div(class='alert alert-danger') #{error.message}
                block content
                br
                br
                hr
                footer
                    p Copyright &copy 2019


                script(src='/bower-components/jquery/dist/jquery.js')
                script(src='/bower-components/bootstrap/dist/js/bootstrap.js')
                script(src='/js/main.js')